.item{
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem 0.75rem 1rem;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .2s;
}

@media(min-width: 1024px){
    .item{
        max-width: 400px;
        padding: 0.75rem 1rem 0.75rem 2rem;
    }
}

.item:hover{
    background-color: var(--bg-hover);
}

.typeIconWrapper{
    background-color: var(--color-primary);
    width: 2.5rem;
    height: 2.5rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
}

.typeIconWrapper:before{
    content: "";
    height: 4rem;
    border: 1px solid rgb(223, 223, 223);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -4rem;
    z-index: -1;
}

.item[data-current-path="true"]{
    background-color: rgba(173, 173, 173, 0.5);
}

.typeIcon{
    width: 1.5rem;
    height: 1.5rem;
}

.title{
    color: #333;
    padding-left: 1.5rem;
    flex-grow: 1;
}

.checkIconWrapper{
    width: 1.5rem;
    height: 1.5rem;
    min-width: 1.5rem;
    min-height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkIcon{
    width: 100%;
}